header{
    display: flex;
    justify-content:center;
   align-items: center;
   
   align-items:inherit;
   font-family:'Times New Roman', Times, serif;
   font-size:  30px;
   background-color: rgb(238, 239, 239);
   padding-left: 50px;

}
body{background-color: rgb(154, 158, 158);}

.konteiner{
    display:flex;
    justify-content: center;
   
}

.blokk1,.blokk2,.blokk3{
    display:flex; 
    width:300px;
    height:300px;
    background-color: rgb(11, 16, 16);
  
    justify-content:space-evenly;
    border-style:groove;
    margin-left: 30px;
    margin-top: 30px;
}

.blokk1{
  background:url(pildid/dog22.jpg) no-repeat;
  background-color: black;
  background-size: contain;
  width: 300px;
  height: 300px;
  font-family: 'Times New Roman', Times, serif; ; font-size: 20px;
  }



  
  

  .blokk2{
    background:url(pildid/maaler1.jpg) no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;  font-size: 20px;
    } 

 


.blokk3{
    background:url(pildid/aja3.jpg) no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;  font-size:20px;
    background-color: black;
 
    }



